body  {
	 font-family: 'Teko', sans-serif;
}

h1, {
	 font-family: 'Acme', sans-serif;	 
} 

.navbar-brand img {width:150px}

#footer{background-color:blue;}

#lowerfooter {background-color:darkblue;}

#lowerfooter i {font-size:60px;color:#fff}